body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(15, 23, 42);
}

body p {
  color: rgb(148, 163, 184);
}

:root {
  --text-gray: rgb(148, 163, 184);
  --text-dark-gray: rgb(100, 116, 139);
}